/* ====== BASE ====== */
body {
  margin: 0;
  font-family: Poppins, sans-serif;
  background: #000;
}

/* ====== HERO NUEVO (AMARILLO/NARANJA) ====== */
#hero {
  text-align: center;
  padding: 60px 20px;
  background: linear-gradient(135deg, #ffcc00, #ff7a00);
  color: white;
  box-shadow: 0 0 35px #ffae00;
}

/* FUENTE ARCADE SOLO PARA EL TÍTULO */
.arcade-title {
  font-family: 'Karmatic Arcade', sans-serif;
  font-size: 38px;
  margin: 0;
  text-shadow: 0 0 12px #000;
}

#hero p {
  font-size: 17px;
  margin-top: 10px;
}

#verMapaBtn {
  margin-top: 25px;
  background: white;
  color: #000;
  font-size: 16px;
  padding: 12px 25px;
  border-radius: 12px;
  cursor: pointer;
  border: none;
  transition: 0.2s;
}

#verMapaBtn:hover {
  transform: scale(1.05);
}

/* ====== MAPA OSCURO ====== */
#map {
  width: 100%;
  height: 90vh;
}

/* ====== BOTÓN FLOTANTE ====== */
.floating-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #000;
  color: #ffd700;
  border: 2px solid #ffd700;
  padding: 14px 20px;
  border-radius: 14px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 0 20px #ffd700;
}

/* ====== MODAL ====== */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.55);
  backdrop-filter: blur(8px);
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 90%;
  max-width: 360px;
  background: #0f0f0f;
  padding: 25px;
  border-radius: 18px;
  border: 1px solid rgba(255,215,0,0.6);
  box-shadow: 0 0 25px rgba(255,215,0,0.4);
  color: white;
}

.modal-content h2 {
  text-align: center;
  font-size: 24px;
  color: #ffd700;
  margin-bottom: 15px;
}

/* ===== INPUTS ===== */
label {
  margin-top: 12px;
  font-size: 14px;
  color: #ddd;
}

input,
textarea,
select {
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  border-radius: 12px;
  background: #1a1a1a;
  border: 1px solid #333;
  color: white;
  font-size: 14px;
}

textarea {
  height: 70px;
}

/* Slider */
#sliderValue {
  text-align: right;
  margin-top: 5px;
  color: #ffd700;
}

/* BOTÓN PUBLICAR */
.publish-btn {
  margin-top: 18px;
  background: #000;
  color: #ffd700;
  border: 2px solid #ffd700;
  padding: 12px;
  width: 70%;
  border-radius: 14px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
}

.publish-btn:hover {
  box-shadow: 0 0 12px #ffd700;
}

/* BOTÓN CANCELAR */
.close-btn {
  margin-top: 12px;
  width: 100%;
  background: #222;
  padding: 12px;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  font-size: 15px;
}

.close-btn:hover {
  background: #333;
}
