.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.55);
  backdrop-filter: blur(8px);
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 90%;
  max-width: 360px;
  background: #0f0f0f;
  padding: 25px;
  border-radius: 18px;
  border: 1px solid rgba(255,215,0,0.6);
  box-shadow: 0 0 25px rgba(255,215,0,0.4);
  color: white;
}

.modal-content h2 {
  text-align: center;
  font-size: 24px;
  color: #ffd700;
  margin-bottom: 15px;
}

label {
  margin-top: 12px;
  font-size: 14px;
  color: #ddd;
}

input,
textarea,
select {
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  border-radius: 12px;
  background: #1a1a1a;
  border: 1px solid #333;
  color: white;
  font-size: 14px;
}

textarea {
  height: 70px;
}

#sliderValue {
  text-align: right;
  margin-top: 5px;
  color: #ffd700;
}

/* BOTÓN PUBLICAR */
.publish-btn {
  margin-top: 18px;
  background: #000;
  color: #ffd700;
  border: 2px solid #ffd700;
  padding: 12px;
  width: 70%;
  border-radius: 14px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
}
.publish-btn:hover {
  box-shadow: 0 0 12px #ffd700;
}

/* BOTÓN CANCELAR */
.close-btn {
  margin-top: 12px;
  width: 100%;
  background: #222;
  padding: 12px;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  font-size: 15px;
}
.close-btn:hover {
  background: #333;
}
