/* GENERAL */
body {
  margin: 0;
  padding: 0;
  background: #000;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

#map {
  width: 100vw;
  height: 100vh;
}

/* BOTÓN NEÓN */
.neon-button {
  position: absolute;
  bottom: 30px;
  right: 30px;
  padding: 15px 25px;
  font-size: 18px;
  font-weight: 600;
  background: #000;
  color: #ffd700;
  border: 2px solid #ffd700;
  border-radius: 12px;
  cursor: pointer;
  text-shadow: 0 0 8px #ffd700;
  box-shadow: 0 0 10px #ffd700, 0 0 20px rgba(255, 215, 0, 0.5);
  transition: 0.2s;
  z-index: 10;
}

.neon-button:hover {
  box-shadow: 0 0 25px #ffd700, 0 0 45px #ffd700;
  transform: scale(1.05);
}

.neon-button.small {
  width: 100%;
  margin-top: 10px;
}

/* MODAL */
.modal {
  display: none;
  position: absolute;
  top: 0; left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0,0,0,0.7);
  backdrop-filter: blur(6px);
  justify-content: center;
  align-items: center;
  z-index: 20;
}

/* TARJETA PREMIUM */
.modal-content {
  background: #0a0a0a;
  padding: 25px;
  width: 350px;
  border-radius: 20px;
  border: 2px solid #ffd700;
  box-shadow: 0 0 25px #ffd700;
  color: white;
  animation: fadeIn 0.3s ease;
}

.modal-content h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #ffd700;
  text-shadow: 0 0 6px #ffd700;
}

/* INPUTS */
.modal-content label {
  font-size: 14px;
  color: #eee;
}

.modal-content input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  background: #111;
  color: white;
  bord
