/* GENERAL */
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: #000;
}

/* HERO */
#hero {
  background: radial-gradient(circle at center, #ffb300, #ff6a00, #000);
  padding: 70px 20px;
  text-align: center;
  color: white;
}

#hero h1 {
  font-family: "Karmatic Arcade", sans-serif;
  font-size: 42px;
  color: #ffd700;
  margin: 0;
  text-shadow: 0 0 10px #ffef9a;
}

#hero p {
  margin-top: 10px;
  font-size: 18px;
  opacity: 0.9;
}

.hero-btn {
  margin-top: 25px;
  padding: 12px 28px;
  background: #fff;
  color: #000;
  border-radius: 12px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* MAPA */
#map {
  width: 100vw;
  height: 100vh;
  display: none;
}

/* BOTÓN FLOTANTE CREAR FIESTA */
.neon-button {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background: #000;
  padding: 14px 25px;
  font-size: 18px;
  border-radius: 18px;
  color: #ffd700;
  border: 2px solid #ffd700;
  box-shadow: 0 0 20px rgba(255,215,0,0.6);
  cursor: pointer;
  display: none;
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.55);
  backdrop-filter: blur(6px);
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 90%;
  max-width: 380px;
  background: #0f0f0f;
  padding: 25px;
  border-radius: 18px;
  border: 2px solid rgba(255,215,0,0.7);
  box-shadow: 0 0 25px rgba(255,215,0,0.4);
  color: white;
}

.modal-title {
  text-align: center;
  font-size: 26px;
  color: #ffd700;
  margin-bottom: 15px;
}

/* INPUTS */
label {
  margin-top: 12px;
  font-size: 14px;
  display: block;
}

input,
textarea,
select {
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  border-radius: 12px;
  background: #1a1a1a;
  border: 1px solid #333;
  color: white;
  font-size: 14px;
}

textarea {
  height: 80px;
}

/* SLIDER */
.slider {
  width: 100%;
  margin-top: 10px;
}

#sliderValue {
  text-align: right;
  margin-top: 5px;
  margin-bottom: 15px;
  color: #ffd700;
  font-size: 15px;
}

/* BOTÓN PUBLICAR */
.publish-btn {
  margin-top: 18px;
  background: #000;
  color: #ffd700;
  border: 2px solid #ffd700;
  padding: 12px;
  width: 70%;
  border-radius: 14px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
}

.publish-btn:hover {
  box-shadow: 0 0 12px #ffd700;
}

/* BOTÓN CANCELAR */
.close-btn {
  margin-top: 12px;
  width: 100%;
  background: #222;
  padding: 12px;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  font-size: 15px;
}

.close-btn:hover {
  background: #333;
}
