body {
  margin: 0;
  padding: 0;
  background: #000;
  font-family: "Poppins", sans-serif;
}

#map {
  width: 100vw;
  height: 100vh;
}

/* BOTÓN NEÓN */
.neon-button {
  position: absolute;
  bottom: 30px;
  right: 30px;
  padding: 15px 25px;
  font-size: 18px;
  background: #000;
  color: #ffd700;
  border: 2px solid #ffd700;
  border-radius: 12px;
  cursor: pointer;
  text-shadow: 0 0 8px #ffd700;
  box-shadow: 0 0 10px #ffd700;
  transition: 0.2s;
}

.neon-button:hover {
  box-shadow: 0 0 20px #ffd700, 0 0 40px #ffd700;
  transform: scale(1.05);
}

/* Modal */
.modal {
  display: none;
  position: absolute;
  top: 0; left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0,0,0,0.7);
  backdrop-filter: blur(4px);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #0a0a0a;
  padding: 25px;
  width: 350px;
  border-radius: 20px;
  border: 2px solid #ffd700;
  box-shadow: 0 0 25px #ffd700;
  color: white;
}

.modal-content h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Inputs */
.modal-content input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  background: #111;
  color: white;
  border: 1px solid #444;
  border-radius: 10px;
}

/* Botón cerrar */
.close-btn {
  margin-top: 10px;
  background: #222;
  color: #fff;
  border-radius: 8px;
  width: 100%;
  padding: 10px;
}
